<footer class="clearfix">
<section id="hi">
<h1>Hi, I'm Doug</h1>
<p>
I'm an <a href="http://www.pagerduty.com/">Operations Engineer at
  PagerDuty</a>, where I'm responsible for our production infrastructure.
I used to work at <a href="http://www.signalhe.com">Signal</a> and <a href="http://www.orbitz.com">Orbitz</a>.
</p>
<p>
I'm also a husband &amp; father. I took this background picture while on vacation in Mexico.
</p>
</section>

<section id="where">
<h1>Where to Find Me</h1>
<ul>
  <li><a href="http://www.twitter.com/dougbarth">twitter.com/dougbarth</a></li>
  <li><a href="http://www.github.com/dougbarth">github.com/dougbarth</a></li>
  <li><a href="mailto:dougbarth@gmail.com">dougbarth@gmail.com</a></li>
</ul>
</section>
</footer>
