<footer class="clearfix">
<section id="hi">
<h1>Hi, I'm Doug</h1>
<p>
I'm an <a href="http://www.signalhq.com/about-us">Engineer at Signal</a>.
At Signal, I work with Ruby, MySQL, RabbitMQ, MongoDB, Linux, and git.
I used to work at <a href="http://www.orbitz.com">Orbitz</a>.
</p>
<p>
I'm also a husband &amp; father. I took this background picture while on vacation in Mexico.
</p>
</section>

<section id="where">
<h1>Where to Find Me</h1>
<ul>
  <li><a href="http://www.twitter.com/dougbarth">twitter.com/dougbarth</a></li>
  <li><a href="http://www.github.com/dougbarth">github.com/dougbarth</a></li>
  <li><a href="mailto:dougbarth@gmail.com">dougbarth@gmail.com</a></li>
</ul>
</section>
</footer>
