<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <!-- OpenID delegation -->
    <link rel="openid.server" href="http://pip.verisignlabs.com/server" />
    <link rel="openid.delegate" href="http://dougbarth.pip.verisignlabs.com" />
    <link rel="openid2.provider" href="http://pip.verisignlabs.com/server" />
    <link rel="openid2.local_id" href="http://dougbarth.pip.verisignlabs.com" />

    <meta http-equiv="X-XRDS-Location" content="http://pip.verisignlabs.com/user/dougbarth/yadisxrds" />
    <title>
      {% if page.title %}
        {{ page.title }} |
      {% endif %}
      Doug Barth
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://feeds.feedburner.com/DougBarth" rel="alternate" title="Doug Barth" type="application/atom+xml" />
    {% include site_styles.html %} 
    <script src="/js/libs/modernizr-1.7.min.js"></script>
    {% include google_analytics.html %} 
    <!-- SOPA & PIPA are horrible for the internet -->
    <script type="text/javascript">var a=new Date,b=a.getUTCHours();if(0==a.getUTCMonth()&&2012==a.getUTCFullYear()&&((18==a.getUTCDate()&&13<=b)||(19==a.getUTCDate()&&0>=b)))window.location="http://sopastrike.com/strike";</script>
  </head>
  <body>
    <img class="bg" src="/img/bg.jpg" />
    <div id="container">
      {% include site_header.html %}

      <div id="main" role="main">
        {{ content }}
      </div>

      {% include site_footer.html %}
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script>!window.jQuery && document.write(unescape('%3Cscript src="/js/libs/jquery-1.5.1.min.js"%3E%3C/script%3E'))</script>
    <!--[if lt IE 7 ]>
    <script src="/js/libs/dd_belatedpng.js"></script>
    <script> DD_belatedPNG.fix('img, .png_bg');</script>
    <![endif]-->
  </body>
</html>
